@use "../variables" as v;

nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background: v.$bg-color-gradient;
  font-family: v.$font-first;
  padding-right: 70px;
  width: 100%;
  height: 18%;

  .title {
    padding-top: 18px;
    margin-left: 4rem;
    font-size: 23px;
    color: white;
    h1 {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .buttons-all {
    padding-top: 30px;

    .buttons {
      color: v.$color-white;
      font-weight: 300;
      text-decoration: none;
      margin-right: 25px;
      text-decoration: none;
      transition: 0.3s;
    }

    .buttons:hover {
      color: rgba(0, 212, 255, 1);
    }
  }
}
