@use "variables" as v;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: v.$color-black;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: v.$color-black;
}

html {
  scroll-behavior: smooth;

  section[id] {
    scroll-margin-top: 90px;
  }

  body {
    font-family: "open sans";
    background: v.$bg-color-gradient;

    .container {
      width: 100%;
      max-width: 1000px;
      padding: 60px 0;
      margin: auto;
      overflow: hidden;
    }

    .title-one {
      color: v.$color-white;
      text-align: center;
      font-size: 30px;
      margin-top: 65px;
      margin-bottom: 45px;
    }
  }
}
