// Fonts
$font-first: "sans-serif";

// Colors
$color-white: #fff;
$color-black: #000;
$color-cyan: rgba(0, 212, 255, 1);

// Backgrounds
$bg-color-gradient: linear-gradient(
  90deg,
  rgba(8, 3, 83, 1) 0%,
  rgba(8, 3, 81, 1) 49%,
  rgba(5, 1, 66, 1) 100%,
  rgba(0, 212, 255, 1) 100%,
  rgba(4, 24, 80, 1) 100%
);
