@use "../variables" as v;

main {

  @mixin mva($medida: 950px) {
    @media screen and (max-width: $medida) {
      @content;
    }
  }

  .about-me {
    width: 100%;
    height: 550px;
    @include mva() {
      width: 100%;
      height: 100%;
    }

    .container-about-me {
      display: flex;
      justify-content: space-between;
    }

    .img-about-me {
      width: 43%;
      margin-left: 5px;
      filter: drop-shadow(10px 8px 6px v.$color-white);
      @include mva() {
        width: 0%;
        margin-left: 0%;
        filter: none;
      }
    }

    .content-text {
      width: 62%;
      gap: 10px;
      @include mva() {
        width: 95%;
        padding-left: 6%;
      }

      h3 {
        font-size: 25px;
        color: v.$color-white;
        @include mva() {
          text-align: center;
          width: 90%;
        }
      }

      p {
        width: 98%;
        margin-top: 35px;
        font-weight: 300;
        text-align: justify;
        line-height: 1.8;
        color: v.$color-white;
        @include mva() {
          text-align: center;
          width: 90%;
        }
      }

      .icons-links {
        display: flex;
        justify-content: center;
        width: 95%;

        a {
          color: v.$color-white;
          font-size: 33px;

          .icon-link {
            margin: 20px 35px 10px 0px;
            transition: all ease 300ms;
            @include mva() {
              margin: 30px 35px 0px 0px;
            }
          }

          .icon-link:hover {
            transform: scale(1.3);
          }
        }
      }
    }
  }
}
