@use "../variables" as v;

footer {
  width: auto;
  height: auto;
  overflow: hidden;

  @mixin mvc($medida: 950px) {
    @media screen and (max-width: $medida) {
      @content;
    }
  }

  .form-contact {
    background-color: v.$color-white;
    //filter: drop-shadow(0 0 0.35rem v.$color-white);
    margin: 7rem 15rem 4rem 15rem;
    padding: 20px 20px 0px 20px;
    border-radius: 5px;
    @include mvc() {
      margin: 7rem 5rem 4rem 5rem;
    }

    fieldset {
      border: none;
    }

    label {
      color: v.$color-black;
      font-family: v.$font-first;
      font-size: 21px;
    }

    .field,
    textarea {
      width: 100%;
      padding: 13px;
      border: none;
      border-bottom: 1px solid v.$color-black;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      font-size: 19px;
      font-family: v.$font-first;
    }

    .field:focus {
      outline: none;
      border-bottom: 1px solid rgb(183, 183, 4);
    }

    .field[type="submit"] {
      background-color: rgb(4, 4, 99);
      color: v.$color-white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .field[type="submit"]:hover {
      background-color: rgb(5, 5, 134);
    }

    .error-message {
      text-align: end;
      font-family: v.$font-first;
      font-size: 20px;
      color: red;
      padding-bottom: 5px;
      //display: none;
    }
  }

  .container-contact {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;

    .content-contact {
      text-align: center;
    }

    h4 {
      color: v.$color-white;
      border-bottom: 3px solid v.$color-black;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }

    p {
      color: v.$color-white;
    }
  }

  .title-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0px 15px 0px;
    color: v.$color-white;
  }
}
